body.body {
   background-color: #040b11;
}
.primary-bg {
   background-color: #09c4ff !important;
}
.bg-success-500 {
   background-color: #edffe5;
}
.secondary-bg {
   background-color: #30343e !important;
}
.primary-text {
   color: #09c4ff !important;
}
.primary-border {
   border-color: #09c4ff !important;
}
.text-blue {
   color: #09c4ff;
}
.fs-xs {
   font-size: 0.75rem;
}
.fs-sm {
   font-size: 0.9rem;
}
.form-check-input:checked {
   background-color: #09c4ff;
   border-color: #159fd7;
}
.form-check-success.form-check-input:checked {
    background-color: #4da424;
    border-color: #367419;
}
.btn-primary {
    background-color: #09c4ff;
    /* min-width: 250px; */
    padding: 10px 25%;
    font-size: 1rem;
 }
.btn-primary:hover,
.btn-primary:focus{background-color: #159FD7;}
